* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  position: relative;
}
.container {
  margin: 3rem auto;
  width: 50rem;
  height: 70rem;
  display: flex;
  flex-direction: column;
  border: 0.3rem solid black;
  padding: 0.5rem;
}
input {
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.btn {
  width: 10rem;
  padding: 0.5rem 1rem;
  width: 100%;
  letter-spacing: 0.3rem;
  font-size: 2.2rem;
}

.box {
  display: grid;
  gap: 0.1rem;
}
.title {
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.1rem solid black;
}
#password {
  background-color: aquamarine;
  padding: 0.2rem;
  text-align: center;
}
label {
  margin-bottom: 0.2rem;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
}
.message {
  text-align: center;
  background-color: lightsalmon;
}
